extends layout

block content

  h1 Join the club

  form(action="" method="post")
    div.form-group
      label(for="passcode") Enter passcode
      input.form-control(type="text" id="passcode" name="passcode")
    button.btn.btn-primary(type="submit") Send

      