extends layout

block content

  h1 New Message

  form(action="" method="post")
    div.form-group
      label(for="message") Type your message
      textarea.form-control(name="message" id="message" required)
    button.btn.btn-primary(type="submit") Post
