extends layout

block content

  h1 New Message

  form(action="" method="post")
    div.form-group
      label(for="title") Title
      input.form-control(type="text" name="title" id="title" required)
    div.form-group
      label(for="message") Message
      textarea.form-control(name="message" id="message" required)
    button.btn.btn-primary(type="submit") Post
