extends layout

block content

 h1 Sign Up
 
 form(action="" method="post")
  div.form-group
   label(for="first_name") First name
   input.form-control(type="text" name="first_name" id="first_name" required value=(user ? user.first_name : "" ))
  div.form-group
   label(for="last_name") Last name
   input.form-control(type="text" name="last_name" id="last_name" required value=(user ? user.last_name : ""))
  div.form-group
   label(for="username") Username
   input.form-control(type="text" name="username" id="username" required value=(user ? user.username : ""))
  div.form-group
   label(for="password") Password
   input.form-control(type="password" name="password" id="password" required)
  div.form-group
   label(for="password_conrifmation") Retype password
   input.form-control(type="password" name="password_confirmation" id="password_confirmation" required)
  div.form-group
   label(for="passcode") Do you have a passcode?
   input.form-control(type="text" name="passcode" id="passcode")
  button.btn.btn-primary(type="submit") Sign up

  if errors
    ul
      for error in errors
        li.error!= error.msg
