body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li.error {
  color: #FF0000;
}

div.card {
  margin-top:20px;
}

#greetings {
  margin-top: 20px;
}

main {
  margin-top: 60px;
}

